/* reset the margin and padding */
* {
	margin:0px;
	padding:0px;
}
body {
	background-image: url("../img/formwallpaper6.jpg");
	background-color: #ccccc;
}

form {
	margin:0 auto; 
	width:40%;	
	
}

fieldset {
	padding-top:5%;
	padding-bottom:5%;
	padding-left:25%;
	padding-right:15%;
	margin:20px;
	background-color:#ccccc;
	border:none;
}
p{
	padding-left: 5%
}
legend {
	background-color:blue;
	color:white;
	font-weight:900;
	border-style: rounded 3px;
	padding:5px;
	margin:20px;
	box-shadow:2px 2px 2px 3px blue;
	text-align: center;
}
input:not([type=radio]){
	height:2em;
	font-size:1.2em;
	font-family:Verdana;
	text-indent:10px;
	display:block;
	padding:2px;
	margin:10px
}

label[for*="male"] {	
    line-height:2em;
	font-family:Verdana;
}

input[type="radio"] {
	margin:5px;
}

input::placeholder {
  color: gray;
  font-style:italic;
  font-size:0.8em;
}

input[type="submit"] {
	clear:both;
	text-align:center;
	width:90%;
	height:2em;
	margin:auto;
	border-radius:20px;
}


input[type="text"]:focus:valid {
   background: rgba(255, 255,255,0.6) url(images/go.png) no-repeat;
   background-position:right 40%; 
   background-size:1.5em 1.5em;
}

input:focus:invalid {
   background: rgba(121, 210, 121) url(images/stop.png) no-repeat;
   background-position:right 40%; 
   background-size:1.5em 1.5em;
 }
  div{
      display: block;
  }
  a{
    color: #9c27b0;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  #navbar-full .navbar {
    border-radius: 0;
    margin-bottom: 20px;
    z-index: 2;
  }
  #navbar {
    margin-bottom: -20px;
  }
  #navbar .navbar {
      border-radius: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .navbar {
    border: 0;
    border-radius: 3px;
    padding: 0.625rem 0;
    margin-bottom: 20px;
    color: #555;
    background-color: #fff;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  }
  .navbar>.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .container {
      min-width: 992px;
    }
  .navbar .navbar-brand {
      padding: 22px 20px;
      height: 80px;
      float: left;
      font-size: 24px;
      transition: 3s;
      color: #555;
      
  }
  .navbar .navbar-nav{
      list-style: none;
      float: right;
      margin: 0px;
      padding: 0px;
      display: flex;
  }
  .navbar .navbar-nav .nav-item{
      list-style: none;
  }
  .navbar .navbar-nav .nav-item .nav-link{
      line-height: 80px;
      color: #555;
      padding: 12px 30px;
      text-decoration: none;
      text-transform: uppercase;
      transition: .3s;
  }
  .navbar .navbar-nav .nav-item .btn{
      line-height: 80px;
      color: #555;
      padding: 12px 30px ;
      text-decoration: none;
      text-transform: uppercase;
      transition: .3s;
      background: #E2472F;
      color: #fff;
      border-radius: 6px;
      margin-right: 1.25rem;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    text-decoration: none;
  }
  
  .nav-link.disabled {
    color: #6c757d;
  }
  .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
  
  .navbar-brand:hover,
  .navbar-brand:focus {
    text-decoration: none;
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  
  .navbar-toggler:hover,
  .navbar-toggler:focus {
    text-decoration: none; 
  }
  
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }
  .navbar-expand-lg {
      flex-flow: row nowrap;
      justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
      flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu-right {
      right: 0;
      left: auto;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
  }
  .navbar-expand-lg>.container{
      flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
      display: flex;
      flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
      display: none;
  }
  .navbar-expand-lg .dropup .dropdown-menu {
      top: auto;
      bottom: 100%;
  }
