/* reset the margin and padding */
* {
	margin:0px;
	padding:0px;
}
body {
	background-image: url("formbackground.jpg");
	background-color: #ccccc;
}

form {
	margin:0 auto; 
	width:40%;	
	
}

fieldset {
	padding-top:5%;
	padding-bottom:5%;
	padding-left:15%;
	padding-right:15%;
	margin:20px;
	background-color:#ccccc;
	background-image: url("formbackground.jpg");
	border:none;
}

legend {
	background-color:blue;
	color:white;
	font-weight:900;
	border-style: rounded 3px;
	padding:5px;
	margin:20px;
	box-shadow:2px 2px 2px 3px blue;
	text-align: center;
}
input:not([type=radio]){
	height:2em;
	font-size:1.2em;
	font-family:Verdana;
	text-indent:10px;
	display:block;
	padding:2px;
	margin:10px
}

label[for*="male"] {	
    line-height:2em;
	font-family:Verdana;
}

input[type="radio"] {
	margin:5px;
}

input::placeholder {
  color: gray;
  font-style:italic;
  font-size:0.8em;
}

input[type="submit"] {
	clear:both;
	text-align:center;
	width:90%;
	height:2em;
	margin:auto;
	border-radius:20px;
}


input[type="text"]:focus:valid {
   background: rgba(255, 255,255,0.6) url(images/go.png) no-repeat;
   background-position:right 40%; 
   background-size:1.5em 1.5em;
}

input:focus:invalid {
   background: rgba(121, 210, 121) url(images/stop.png) no-repeat;
   background-position:right 40%; 
   background-size:1.5em 1.5em;
 }

