

ul li { 
list-style-type: none; 
} 
header {
	display:inline-block; 
	color:green;
	
} 

#helpButton {
	border: 10px solid green; 
	text-align: center; 
	background-color: green; 
} 

.searchButton {
	height: 50; 
	width: 50; 
}

.disclaimer {
	font-size: 70%; 
} 

.categories {
	margin: auto; 
} 

select { 
	float: right; 
	position: relative; 
} 

#login {
	margin: auto;  
	height:600;
	width:600;
	
}

#login input{
	margin-bottom: ;
	border-radius:15px;
	height : 25;
	width: 100; 
}

textarea {
	height:500; 
}

#query:nthchild(even) {

}

.comments, #preview {
	visibility:hidden;  
}

.tabs {
	padding: 10px;
	background-color: #a0d6b4; 
	font-size: 150%; 
	padding: 10px; 
} 

.content {
	display:none;
	background-color: #a0d6b4;
} 

#mascot {
	height: 100; 
	width: 100; 
	display: block; 
} 

.dropdown-content {
	visibility: hidden; 
} 

.otherPages {
	background-color: #a0d6b4; 
	padding: 10px; 
} 

.FAQ {
	visibility:visible;
	display:inline-block;
	
}

.comments {
	border: 5 px solid green; 
	border-radius: 10px; 
} 

#avatar {
	width:100; 
	height:100; 
	display: block; 
} 

#send-email { 
	visibility: hidden; 
}

#profile {						
	border: 10px solid red; 
}


#node, .comments{
	border: 1px solid black; 
	padding: 20px; 
	border-radius: 25px; 
	width: 10%;
	position: relative;
} 

#video-list { 
	text-align: middle; 
	font-size: 150%;
	height: 1000; 
	overflow: auto; 
} 

form #review {
	visibility: hidden; 
} 
