*{
	margin:auto;
}
body{
	background-image: url("../img/statistic.jpg");
	background-repeat: no-repeat;
}
/*chart*/
#myChart{
	padding-top:100px;
}
/*slider button*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 1px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  font-family:"Courier New";
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#first:before{
	content: "Main";
	
}
#second:before{
	content: "2003";
}
#third:before{
	content: "2016";
}
div{
	display: block;
}
a{
  color: #9c27b0;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#navbar-full .navbar {
  border-radius: 0;
  margin-bottom: 20px;
  z-index: 2;
}
#navbar {
  margin-bottom: -20px;
}
#navbar .navbar {
    border-radius: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.navbar {
  border: 0;
  border-radius: 3px;
  padding: 0.625rem 0;
  margin-bottom: 20px;
  color: #555;
  background-color: #fff;
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}
.navbar>.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.container {
    min-width: 992px;
  }
.navbar .navbar-brand {
	padding: 22px 20px;
	height: 80px;
	float: left;
	font-size: 24px;
	transition: 3s;
	color: #555;
	
}
.navbar .navbar-nav{
	list-style: none;
	float: right;
	margin: 0px;
	padding: 0px;
	display: flex;
}
.navbar .navbar-nav .nav-item{
	list-style: none;
}
.navbar .navbar-nav .nav-item .nav-link{
	line-height: 80px;
	color: #555;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}
.navbar .navbar-nav .nav-item .btn{
	line-height: 80px;
	color: #555;
	padding: 12px 30px ;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
	background: #E2472F;
	color: #fff;
	border-radius: 6px;
	margin-right: 1.25rem;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none; 
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}
.navbar-expand-lg .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.navbar-expand-lg>.container{
    flex-wrap: nowrap;
}
.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
}
.navbar-expand-lg .navbar-toggler {
    display: none;
}
.navbar-expand-lg .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
}
.home{
	height: 10%;
	width: 100%;
} 
body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fafafa;
}